node_modules
client/components-old
/client/images
nohup.out
index.html
/client/index-old.js
/client/components/Bubbles.js
/client/components/Portfolios-old.js
/client/components/Background-old.js
/client/components/List.js
/client/components/Skills-new.js
pinterests.js
/client/components/Form-test.js